<a href="https://colab.research.google.com/github/alexontour/snippets/blob/main/snip_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Author: Alexander Kollmann, 10/2022**

---

**Funktion**

Verbindung zu einer MySQL-DB herstellen

CRUD-Operationen ausführen

---



**Referenzen**

tbd

---

In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 12 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

In [ ]:
MYSQL_HOSTNAME = 'remotemysql.com' # you probably don't need to change this
MYSQL_USER = 'ddv67SeI3z'
MYSQL_PASSWORD = 'i934PvTXFJ'
MYSQL_DATABASE = 'ddv67SeI3z'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'

con = create_engine(connection_string)

In [ ]:
# CREATE (mehrere)

try:
    query="INSERT INTO  `ddv67SeI3z`.`pat` (`patid` ,`vorname` ,`nachname` ,`gebdat`)  VALUES(%s,%s,%s,%s)"
    data=[('bpk1','vn1','nn1','1950-12-01'),
            ('bpk2','vn2','nn2','1950-12-02'),
            ('bpk3','vn3','nn3','1950-12-03')]
    
    id=con.execute(query,data)
    
    print("Rows Added  = ",id.rowcount)
    
except SQLAlchemyError as e:
        error = str(e.__dict__['orig'])
        print(error)

Rows Added  =  3

In [ ]:
query = """INSERT INTO * FROM pat;""".format(MYSQL_DATABASE)

# df.to_sql(con=con, name='table_name_for_df', if_exists='replace', flavor='mysql')

In [ ]:
# READ

query = """SELECT * FROM pat;""".format(MYSQL_DATABASE)

pat_df = pd.read_sql(query, con=db)
pat_df

  patid vorname nachname      gebdat  svnr
0  bpk1     vn1      nn1  1950-12-01  None
1  bpk2     vn2      nn2  1950-12-02  None
2  bpk3     vn3      nn3  1950-12-03  None

In [ ]:

# UPDATE

In [ ]:
# DELETE