In [10]:
import pandas as pd

In [35]:
url = 'ts_log.csv'
df = pd.read_csv(url, sep=';', parse_dates=['ts'],dtype = {'value': float})

ValueError: could not convert string to float: '123,4'

In [24]:
df

                   ts  user  value parameter unit
0 2022-09-28 22:54:01  alex  123,4      pvin    W
1 2022-09-28 22:55:01  alex  234,5      pvin    W
2 2022-09-28 22:56:01  alex  345,6      pvin    W
3 2022-09-28 22:54:01  alex    100      grid    W
4 2022-09-28 22:55:01  alex  200,5      grid    W
5 2022-09-28 22:56:01  alex  300,6      grid    W

In [27]:
#df.describe()
#df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ts         6 non-null      datetime64[ns]
 1   user       6 non-null      object
 2   value      6 non-null      object
 3   parameter  6 non-null      object
 4   unit       6 non-null      object
dtypes: datetime64[ns](1), object(4)
memory usage: 368.0+ bytes

In [33]:
# Dataframe filtern nach Zeilen
df_filter = df.loc[(df.user=='alex' and df.parameter=='pvin')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [30]:
df_filter

                   ts  user  value parameter unit
0 2022-09-28 22:54:01  alex  123,4      pvin    W
1 2022-09-28 22:55:01  alex  234,5      pvin    W
2 2022-09-28 22:56:01  alex  345,6      pvin    W
3 2022-09-28 22:54:01  alex    100      grid    W
4 2022-09-28 22:55:01  alex  200,5      grid    W
5 2022-09-28 22:56:01  alex  300,6      grid    W